
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid black;
    width: 80vw;
    height: 80vw;
    max-width: 960px;
    max-height: 960px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;  /* Align boxes to the left */
    gap: 1px;  /* Optional: Adds space between the boxes */
}
.box {
    box-sizing: border-box;
    flex: 0 0 auto;  /* Prevents the boxes from growing or shrinking */
}