
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
button{
  background-color: #04AA6D;
  border: none;
  color:white;
  text-align: center;
  padding: 15px 32px;
  border-radius: 10px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;  
}

.container {
    border: 1px solid black;
    width: 800px;  /* Fixed width of 800px */
    height: 800px;  /* Fixed height of 800px */
    display: flex;
    flex-wrap: wrap;  /* Allow items to wrap to next row */
    overflow: hidden;  /* Prevent overflow */
    margin-top: 30px;
}


.box {
    box-sizing: border-box;
    flex: 0 0 auto;  /* Prevents the boxes from growing or shrinking */
}